<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <div class="wrapper-logo">
        <img th:src="@{/img/diary.svg}">
    </div>
    <h1>Ни один картридж не будет потерян!</h1>
</header>
<main class="menu">
    <button class="button-menu" data-btn="cartridge-replacement">Замена картриджа</button>
    <button class="button-menu" data-btn="take-cartridge">Принять картридж</button>
    <button class="button-menu" data-btn="give-out-cartridge">Выдать картридж</button>
    <button class="button-menu" data-btn="deregister-cartridge">Списать картридж</button>
    <button class="button-menu" data-btn="add-new-cartridge">Добавить новый картридж</button>
    <button class="button-menu" data-btn="cartridges-to-refueller">Сформировать поручение на заправку</button>
    <button class="button-menu" data-btn="cartridges-from-refueller">Принять картридж после заправки</button>
    <button class="button-menu" data-btn="cartridges-status">Статус картриджа</button>
</main>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/modal.js}"></script>
<script th:src="@{/js/cartridgeReplacementNext.js}"></script>
<script th:src="@{/js/cartridgeReplacement.js}"></script>
<script th:src="@{/js/takeCartridge.js}"></script>
<script th:src="@{/js/giveOutCartridge.js}"></script>
<script th:src="@{/js/addNewCartridge.js}"></script>
<script th:src="@{/js/deregisterCartridge.js}"></script>
<script th:src="@{/js/cartridgesToRefueller.js}"></script>
<script th:src="@{/js/cartridgesFromRefueller.js}"></script>
<script th:src="@{/js/cartridgesStatus.js}"></script>
</body>
</html>
