<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <div class="wrapper-logo">
        <img th:src="@{/img/diary.svg}">
    </div>
    <h1>Ни один картридж не будет потерян!</h1>
</header>
<main class="menu">
    <a class="button-menu" href="/reports/cartridge_count_report">Отчет о количестве картриджей</a>
    <a class="button-menu" href="/reports/report_on_the_movement_of_cartridges">Отчет о движении картриджей за выбранный
        период</a>
</main>
</body>
</html>
