body {
    background-color: #F5F5F5;
}


header {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper-logo img{
    width: 150px;
}

header > h1 {
    margin: 0 0 0 50px;
}

h3 {
    margin: 5px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.button-menu {
    padding: 10px;
    margin: 12px;
    background-color: white;
    border-radius: 8px;
    color: black;
    border: 2px solid rgb(25, 55, 255);
    text-align: center;
    font-size: 25px;
    text-decoration-line: none;

}

.button-menu:hover {
    background-color: rgb(25, 55, 255);
    color: white;
}

.modal-window table {
    border-collapse: collapse
}

.modal-window table th {
    padding: 7px;
}

.modal-window table td {
    padding: 7px;
}

.modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    background: #F5F5F5;
    border-radius: 8px;
}

.modal-window .footer {
    display: flex;
    justify-content: flex-end;
}

.modal-window .ok-next {
    padding: 5px;
    margin: 12px;
    background-color: white;
    border-radius: 8px;
    color: black;
    border: 2px solid rgb(25, 55, 255);
    text-align: center;
    font-size: 13px;
}

.modal-window .destroy {
    padding: 5px;
    margin: 12px;
    background-color: red;
    border-radius: 8px;
    color: black;
    border: 2px solid rgb(25, 55, 255);
    text-align: center;
    font-size: 13px;
}

.modal-window button:hover {
    background-color: rgb(25, 55, 255);
    color: white;
}

